.container {
  width: clamp(36rem, 100vw, 72rem);
  padding: 0 1rem;
  margin: 0 auto 0;
}

.appBar {
  position: sticky;
  flex-grow: 1;
  color: #151515;
  background-color: white;
}

.toolbar {
  composes: container;
}

.toolbarItem {
  margin: 0 0.5rem;
}

.toolbarImage {
  composes: toolbarItem;
  line-height: 0;
}

.toolbarMenu {
  composes: toolbarItem;
  width: 4rem;
}

.main {
  composes: container;
  margin-bottom: 6rem;
}

.grow {
  flex-grow: 1;
}
