Pillow
PyYaml
awswrangler
black
bokeh
boto3
dynaconf
jupyter
matplotlib
numpy<1.22.0
pandas
pbpstats
pip-tools
pyarrow
pyinstrument
pylint
pymc3
requests
scikit-learn
scipy
seaborn
snakeviz
statsmodels
